.details__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
    background-color: var(--primary);
    align-items: center;
}

.details__main>a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-right: 15px;
    text-decoration: none;
    background-color: var(--body);
    color: #f0f0f0;
    border-radius: 10px;
}