*{
    background-color: var(--primary);
}
.card-left{
padding: 2px;
background-color: var(--body);
border-radius: 12px 12px 12px 12px;
margin-bottom: 10px;
cursor: pointer;
}
.card-left img{
width: 100%;
margin-right: 2px;
border-radius: 10px 10px 0px 0px;

}
.card-decription{
    background-color: var(--body);;
    color: var(--text-body);
    font-size: 20pt;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}