*{
    background-color: var(--body);
}

header{
    position: fixed;
    width: 100%;
    background-color: var(--primary);
    z-index: 9999;

}
.nav__menu{
    position:relative;
    width: 90%;
    border-radius: 60px;
    margin: 10px auto 3px auto;
}
.nav__menu > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 60px;
}
.nav__menu > div > ul{
    display: flex;
    flex-direction: row;
    border-radius: 60px;
}

.nav__menu > div> ul > a > li, .nav__menu > div> ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F0F0FC;
    margin: 7px;
    list-style: none;
    border: #F0F0FC solid 2px;
    border-radius: 15px;
    padding: 7px;
    cursor: pointer;
}

.nav__menu > div> ul > a > li:hover, .nav__menu > div> ul > li:hover{
    color: var(--text-menu);
    background-color: var(--primary);
}

.active{
    background-color: var(--primary) !important;
    color:var(--text-menu) !important;
 }

.nav__menu > div> ul > a > li:hover > svg{
    fill: var(--text-menu);
}

.nav__menu > div> ul > .logo, .nav__menu > div> ul > .themes{
    width: 50px;
    background-color: #F0F0FC;
    font-size: 20pt;
    border-radius: 50%;
    font-weight: bold;
 }
 .nav__menu > div> ul > .logo:hover, .nav__menu > div> ul > .themes:hover{
    background-color: var(--body);
 }

 .nav__menu > div> ul > .logo:hover > svg, .nav__menu > div> ul > .themes:hover > svg{
    fill: #F0F0FC; 
 }

 @media screen and (max-width: 700px) {
    .nav__menu > div> ul > .btn__Menu{
        display: none;
    }

    .nav__menu > div{
        justify-content: center;
    }

  }
